<template>
  <div class="text-center">
    <form @submit="addTodo" class="add-todo-form">
      <input type="text" v-model="title" name="title" class="todo-form">
      <button type="submit" class="add-button btn-success">Add Item</button>
    </form>
  </div>
</template>
<script>

import uuid from 'uuid';

export default {
  name: 'AddTodo',
  data() {
    return {
      title: ''
    }
  },
  methods: {
    addTodo(e) {
      e.preventDefault();
      const newTodoObj = {
        id: uuid.v4(),
        title: this.title,
        completed: false
      }
      this.$emit('add-todo', newTodoObj);
      this.title = '';
    }
  }
}
</script>
<style scoped>
</style>