<template>
  <div class="list-div">
      <div v-bind:key="todo.id" v-for="todo in todos" class="col-md-12">
        <Todo v-bind:todo="todo" v-on:delete-todo="$emit('delete-        todo', todo.id)"/>
      </div>
  </div>
</template>

<script>
import Todo from './Task';
export default {
  name: 'Task',
  components: {
    Todo
  },
  props: [
    "todos"
  ]
}
</script>
<style scoped>
</style>
