<template>
  <div id="app" class="col-md-6 text-center row card card-body text-center container">
     <h2 class="title text-light mb-4">TODOLIST</h2>
    <div><AddTodo v-on:add-todo="addTodo"/></div>
    <div><Tasks v-bind:todos="todos" v-on:delete-todo="deleteTodo"/></div>
  </div>
</template>


<script>
import Tasks from './components/Tasks';
import AddTodo from './components/AddTodo';
import json from './assets/data.json';

export default {
  name: 'app',
  components: {
    Tasks,
    AddTodo
  },
  data() {
    return {
      todos: json,
    }
  },
  methods: {
    addTodo(newTodoObj) {
      this.todos = [...this.todos, newTodoObj];
    },
    deleteTodo(todoId) {
      this.todos = this.todos.filter(todo => todo.id !== todoId);
    }
  }
}
</script>
<style>
#app{
  background-color: #777777;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
</style>